/* define constants up here */
:root {
  --banner-bg-start: #0d0e0f;
  --banner-bg-end: #252628;
  --produce-gray: #e4e4e4;
  --search-text-gray: #949494;
  --search-gray: #f2f2f2;
  --affil-gray: #909090;
  --name-gray: #2b2b2b;
  --other-name-gray: #444444;
  --ranking-affil-gray: #989898;
  --save-box-gray: #b1b1b1;
  --checked-grey: #7b787ae0;

  /* ranking border colors */
  --a-rank: #fd586a;
  --b-rank: #30c0ff;
  --c-rank: #252628;
  --d-rank: #8de079;
  --f-rank: #0167eb;
  --no-rank: #252628;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: block;
  min-width: 100%;
  /*background-color: white;*/
  background-image: url("assets/backgroundpbb.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* Styles for banner */
#top-banner {
  /*background: radial-gradient(circle, var(--banner-bg-start), var(--banner-bg-end) 15%);*/
  /* background-color: var(--banner-bg-color); */
  padding: 7px;

  /* these will be unnecessary once we get the banner image */
  color: white;
  text-align: center;
  background-image: url("assets/pbb_header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#version {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5px;
  text-align: left;
}
#banner-image {
  width: 150px;
  margin-top: 45px;
}
#banner-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}
#banner-subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFDE59;
  font-size: 12px;
}

/* Styles for table */
#table {
  height: 40vh;
  min-height: 300px;
  width: 280px;
  box-shadow: 0px 2px 4px 0.1px var(--produce-gray);
  border-radius: 8px;
  border: 1px solid var(--save-box-gray);
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
#table__filter-container {
  padding: 8px;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  /*border: 1px solid var(--save-box-gray);*/
}

#table__filter-input {
  padding: 5px;
  padding-left: 25px;
  /*padding-right: 10px;*/
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: 0;
  /* setting up search icon */
  background-image: url("assets/search.png");
  background-size: 10px 10px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
}
::placeholder {
  color: var(--search-text-gray);
}

.icon-container {
  /*margin: 10px;*/
  position: relative; /* Needed for positioning the menu */
  display: inline-block;
  z-index: 1;
}
.display-options-icon { 
  padding-left: 5px;
  position: relative; /* Needed for positioning the label */
  font-size: 12px;
  color: var(--search-text-gray);
  transition: color 0.3s ease, filter 0.3s ease;  /* Smooth transition */
}
.display-options-icon:hover {
  color: #2D84F8;
  filter: brightness(0.5); /* Apply filter on hover */
}
.display-options-icon::after {
  content: "Display Options"; /* Text for the label */
  position: absolute;
  font-size: 12px;
  bottom: -30px; /* Position below the icon */
  left: 50%;
  transform: translateX(-50%);
  /*background-color: #000;*/
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease; /* Smooth transition */
  pointer-events: none; /* Prevent interaction with the label */
}
.display-options-icon:hover::after, .display-options-icon:focus::after {
  opacity: 1; /* Show the label on hover */
}
.click-menu {
  /*overflow-y: scroll;*/
  position: absolute;
  background-color: white;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid var(--save-box-gray);
  z-index: 1000;
  width: 150px;
}

.click-menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.click-menu ul li {
  padding: 0;
  cursor: pointer;
}

.click-menu ul li:hover {
  background-color: #f0f0f0;
}

/* Styles for filtering at bottom of table */
/*#filters-container {
  margin: 10px;
}*/
.checkbox-label {
  font-size: 10px;
  color: var(--affil-gray);
}

/* Styles for share link functionality */
#sharelink-container {
  margin: 10px;
  display: flex;
}
#getlink-button {
  border: none;
  border-radius: 3px;
  padding: 2px 6px 4px 6px;
  background-color: #6BA2FA;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
}
#getlink-button:active { /* these styles are active while get link is being pressed */
  background-color: #6BA2FA;
}
#getlink-textbox {
  margin-left: 5px;
  width: 135px;
  border: 1px solid var(--save-box-gray);
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px;
  padding-right: 10px;
  /*flex: 1;*/
  display:none;
}
#copylink-button {
  height: inherit;
  width: 50px;
  margin-left: -5px;
  border: 1px solid var(--save-box-gray);
  border-radius: 0px 3px 3px 0;
  background-color: var(--save-box-gray);
  font-weight: 700;
  display:none;
}
#copylink-button:active { /* these styles are active while copylink is being pressed */
  background-color: var(--other-name-gray);
}

/* Styles for table entries */
#table__entry-container {
  overflow-y: scroll;
  border: 1px solid var(--save-box-gray);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table__entry {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--produce-gray);
  cursor: pointer;
}
.table__entry:last-child {
  border-bottom: none;
}
.table__entry:hover {
  background-color: #f0f0f0;
}
.table__entry-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 6px 8px;
  display: block;
  box-sizing: border-box;
  position: relative;
  /* background-image: url(assets/housemates/leegaeun.jpg);
  background-size: 60px; */
}
.table__entry-img {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
.evicted .table__entry-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
/* only applied when an entry is selected/checked */
.table__entry-check {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  /* blue background */
  background-color: var(--checked-grey);
  /* the padding insets the checkbox (makes it bigger/smaller) */
  padding: 10px;
  box-sizing: border-box;
}
.table__entry-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
}
.table__entry-icon-crown, .ranking__entry-icon-crown {
  position: absolute;
  padding: 2px;
  box-sizing: border-box;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #e3e3e3;
  background-image: url(assets/crown.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
}

.table__entry-nominated, .ranking__entry-nominated {
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: -2px;
  right: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url(assets/nominated.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
}
/* Different entry borders */
.a-rank-border {
  border: 5px solid var(--a-rank);
}
.b-rank-border {
  border: 5px solid var(--b-rank);
}
.c-rank-border {
  border: 5px solid var(--c-rank);
}
.d-rank-border {
  border: 5px solid var(--d-rank);
}
.f-rank-border {
  border: 5px solid var(--f-rank);
}
.no-rank-border {
  border: none;
}
.evicted .table__entry-icon-border {
  border: 5px solid var(--no-rank);
}
.evicted .ranking__entry-icon-border {
  border: 5px solid var(--no-rank);
}
.ranking__entry-icon-border.dragged-over { /* defines a border for when you drag over a housemate in ranking */
  border: 5px solid var(--checked-grey);
}

.table__entry-text {
  margin: auto 5px auto 5px;
  /* margin: auto auto; */
}
.table__entry-text .fullname {
  font-size: 12px;
  color: var(--name-gray);
}
.table__entry .agency {
  font-size: 12px;
  color: var(--other-name-gray);
}
.table__entry .ageandlocation {
  font-size: 10px;
  color: var(--affil-gray);
  display: block;
}

#parent-ranking {
  display: flex;
  gap: 10px; /* Add space between the two pyramids */
  margin-top: 10px;
}

#ranking__pyramid, #ranking__pyramid2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px; /* Set a fixed width for each pyramid */
}

#ranking__title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.ranking__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ranking__entry-view {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px 24px 8px 24px;
}
.ranking__entry-icon {
  border-radius: 50%;
  width: inherit;
  height: inherit;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}
.ranking__entry-img {
  border-radius: 50%;
  width: inherit;
  height: inherit;
}
.evicted .ranking__entry-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.ranking__entry-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
}
.ranking__entry-icon-badge {
  position: absolute;
  width: 60px;
  height: 15px;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: auto;
  border-radius: 3px;
  background-color: var(--a-rank);
  box-sizing: border-box;
  padding: 2px;
  /* badge text options */
  font-weight: 900;
  font-size: 8px;
  text-align: center;
  color: white;
}
.ranking__row-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-align: center;
}

/* Styles for different badge colors */
.bg-no {
  background-color: var(--no-rank);
}
.bg-a {
  background-color: var(--a-rank);
}
.bg-b {
  background-color: var(--b-rank);
}
.bg-c {
  background-color: var(--c-rank);
}
.bg-d {
  background-color: var(--d-rank);
}
.bg-f {
  background-color: var(--f-rank);
}
.evicted .ranking__entry-icon-badge {
  background-color: var(--no-rank);
}

.ranking__entry .year {
  color: var(--ranking-affil-gray);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 9px;
  letter-spacing: 0.2px;
}

/* Generic Styles */
.padded-box {
  padding: 15px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
  /* align-items: center; */
  justify-content: center;
}

.drag-cursor {
  cursor: -webkit-grab;
  cursor: grab;
}
